<div class="contentSecondWrapper">
    <div id="name"
         class="contentSecondName text-color text-small-header no-select-text cursor-pointer js-menu-option">
        {{ name }}
    </div>
</div>