html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
  
    background-color: $backgroundColor;
  
    font-family: $mainFont, $fallbackFont;
  
    overflow: hidden;
  
    position: relative;
}

ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}