<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Miguel Ribeiro</title>
</head>
<body data-menu-in-view="first">
   <div class="homeContainer js-main-menu">
       {{> components/firstMenu }}
       {{> components/footer }}
   </div>
   <div class="contentContainer js-content-area"
        data-page-number=0>
       {{> components/contentMenu }}
   </div>
</body>
</html>