$mainFont: DejaVu Sans;
$fallbackFont: Courier New;

// Breakpoints
$screen-xs: 0px;
$screen-sm: 592px;
$screen-md: 784px;
$screen-lg: 1200px;
$screen-lg-max: 1440px;

// Custom Breakpoints
$homeMenuBreakpoint: 665px;
$textBigMediumBreakpoint: 720px;
$textBigLargeBreakpoint: 900px;

$backgroundColor: #2B2B2B;
$backgroundColorHover: #363636;

$borderLoaded: #363636;
$borderLoadedHover: white;

$arrowBackground: rgba(0, 0, 0, 0.3);

$textColor: white;

$footerHeight: 35px;